In [1]:
import pandas as pd

In [2]:
transactions = pd.read_csv(r'C:\Users\Ashish\Downloads\hc_data\transactions.csv')
fraudsters = pd.read_csv(r'C:\Users\Ashish\Downloads\hc_data\fraudsters.csv')

In [3]:
transactions

,Unnamed: 0,CURRENCY,AMOUNT,STATE,CREATED_DATE,MERCHANT_CATEGORY,MERCHANT_COUNTRY,ENTRY_METHOD,USER_ID,TYPE,SOURCE,ID
0,0,GBP,3738,COMPLETED,2015-10-11 09:05:43.016000,bar,AUS,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,CARD_PAYMENT,GAIA,5a9ee109-e9b3-4598-8dd7-587591e6a470
1,1,GBP,588,COMPLETED,2015-10-11 20:08:39.150000,NaN,CA,misc,20100a1d-12bc-41ed-a5e1-bc46216e9696,CARD_PAYMENT,GAIA,28d68bf4-460b-4c8e-9b95-bcda9ab596b5
2,2,GBP,1264,COMPLETED,2015-10-11 11:37:40.908000,NaN,UKR,misc,0fe472c9-cf3e-4e43-90f3-a0cfb6a4f1f0,CARD_PAYMENT,GAIA,1f1e8817-d40b-4c09-b718-cfc4a6f211df
3,3,GBP,66,REVERTED,2015-10-11 20:08:35.310000,NaN,CA,misc,20100a1d-12bc-41ed-a5e1-bc46216e9696,CARD_PAYMENT,GAIA,a7aaf78c-d201-456f-9e6d-612a795e8c32
4,4,GBP,968,COMPLETED,2015-10-11 02:46:47.640000,supermarket,NZL,misc,821014c5-af06-40ff-91f4-77fe7667809f,CARD_PAYMENT,GAIA,27dd99a2-5539-4ba9-876a-1a94abc2701f
...,...,...,...,...,...,...,...,...,...,...,...,...
688646,704877,EUR,5292,COMPLETED,2015-10-22 09:51:17.824000,NaN,RUS,misc,9e988c5b-71d0-4f3e-8f81-b3c30aa9c240,CARD_PAYMENT,GAIA,17ae035a-3cc5-4e0b-a794-dc153013460c
688647,704878,GBP,412,COMPLETED,2015-10-22 01:22:46.825000,NaN,AUS,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,CARD_PAYMENT,GAIA,a3ebfcc0-bdc1-445a-a20b-a7a06dfff75b
688648,704879,GBP,14558,COMPLETED,2015-10-22 11:41:52.654000,NaN,TUR,misc,1319cca9-02a7-4a15-8abb-48d4e08e5aa3,ATM,GAIA,8c66ce3e-fef5-4c2c-9c6d-73bfc7439edd
688649,704880,USD,1915,COMPLETED,2015-10-22 18:09:53.716000,clothing_store,FL,misc,dd1f6199-127f-49ff-ba25-81393b2e66f2,CARD_PAYMENT,GAIA,d9aedebb-5313-4a4c-ba8c-053f32d7983a
688650,704881,GBP,1307,COMPLETED,2015-10-22 09:12:44.734000,NaN,AUS,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,CARD_PAYMENT,GAIA,4fe9aa5b-cc32-4ee8-ba93-9ca2a8d86006

In [4]:
fraud_transact=pd.merge(transactions, fraudsters, left_on='USER_ID',right_on='user_id',how='outer', indicator=True)
fraud_transact=fraud_transact.replace('left_only','rest')
fraud_transact=fraud_transact.replace('both','fraud')
fraud_transact

,Unnamed: 0_x,CURRENCY,AMOUNT,STATE,CREATED_DATE,MERCHANT_CATEGORY,MERCHANT_COUNTRY,ENTRY_METHOD,USER_ID,TYPE,SOURCE,ID,Unnamed: 0_y,user_id,_merge
0,0.0,GBP,3738.0,COMPLETED,2015-10-11 09:05:43.016000,bar,AUS,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,CARD_PAYMENT,GAIA,5a9ee109-e9b3-4598-8dd7-587591e6a470,NaN,NaN,rest
1,22.0,GBP,11413.0,COMPLETED,2015-10-20 00:59:22.796000,NaN,AUS,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,CARD_PAYMENT,GAIA,0178fc44-4336-45d5-92ba-420b56e1dcfc,NaN,NaN,rest
2,26.0,GBP,1112.0,COMPLETED,2015-10-20 09:27:29.487000,NaN,AUS,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,CARD_PAYMENT,GAIA,9c36fb65-1da8-4924-ad3f-5ba7491e4ae2,NaN,NaN,rest
3,27.0,GBP,958.0,COMPLETED,2015-10-20 09:21:40.211000,NaN,AUS,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,CARD_PAYMENT,GAIA,a67c9bb1-2d29-400a-8690-4548df44d9d1,NaN,NaN,rest
4,28.0,GBP,25000.0,COMPLETED,2015-10-19 00:15:21.973000,NaN,NaN,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,TOPUP,NYX,059bfcba-0867-45bc-b822-10f72084c786,NaN,NaN,rest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688647,704697.0,GBP,50000.0,COMPLETED,2016-03-18 17:59:49.816000,NaN,NaN,misc,da870435-6c0c-4b90-8b7b-8301bfa4be7e,TOPUP,NYX,33ee8a3a-572d-48b2-b2a8-b1f851f1b42b,NaN,NaN,rest
688648,704699.0,GBP,50000.0,REVERTED,2016-03-18 18:10:26.036000,NaN,NaN,misc,da870435-6c0c-4b90-8b7b-8301bfa4be7e,TOPUP,NYX,5a8a5337-a5ed-4f21-a09c-d4e44d0e55e4,NaN,NaN,rest
688649,704700.0,GBP,50000.0,COMPLETED,2016-03-18 18:07:20.959000,NaN,GBR,misc,da870435-6c0c-4b90-8b7b-8301bfa4be7e,ATM,GAIA,fb3143bb-bbe9-4969-bbf6-68945952fc84,NaN,NaN,rest
688650,704721.0,GBP,44000.0,FAILED,2016-03-18 16:42:04.875000,NaN,NaN,misc,da870435-6c0c-4b90-8b7b-8301bfa4be7e,TOPUP,NYX,e0e43a0e-921b-4afa-bc7a-290a7d5dba6c,NaN,NaN,rest
688651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5270b0f4-2e4a-4ec9-8648-2135312ac1c4,right_only

In [5]:
fraud_transact.to_csv(r'C:\Users\Ashish\Desktop\fraud_transactions.csv')

In [7]:
likely_fraudsters=pd.read_excel(r'C:\Users\Ashish\Desktop\likely_fraudsters.xlsx')

In [8]:
likely_fraudsters=likely_fraudsters.sort_values('Count of transactions',ascending=False)
likely_fraudsters

                                 USER ID  Count of transactions
43  f590dcd7-b3b7-493b-9a1f-210fc319485d                      9
16  50552988-e421-4a57-ba08-2f7f9dc6cae4                      7
36  ca027a38-c6eb-4f66-8649-000948986833                      4
1   01a29ba5-4c7d-4da7-aa56-59138d4a0859                      4
22  79638a4e-e6df-43ae-8d82-14832364544b                      3
4   1b232b1b-4b09-423b-b0ec-33d9f1025538                      3
42  f3dd106e-3d1d-445c-a5d6-8d9dedaa0a84                      2
41  de3c503b-0fe3-4f83-b94e-c2b598f1517c                      2
39  d1fd9267-b700-4f3a-8840-0b9dd2b0a64c                      2
31  a6ec93e8-b2b6-47d6-bac1-045a3d1757f3                      2
20  7555a538-c5ee-43c8-949a-76c3cd25f8e7                      2
0   005380b0-d940-43c4-ac9f-d142d848aa03                      2
10  35d8c67a-e439-4f9c-a674-708734ed8970                      2
6   27e5bb87-d2a1-49c8-a9f5-a87ec3fc4019                      2
9   3531185c-6492-41e5-9312-47c1f87cc506                      2
37  cbcd37a3-02bd-4a2c-a1a3-e780b187dc2f                      1
32  b0b3f365-f044-4e29-ab8e-5b7383a9b214                      1
33  b61bcb13-9f71-4522-ac8d-8dd0f0c2d7db                      1
34  bccd3d15-6448-47ce-8444-35890745e9e5                      1
35  c749b544-f95b-4942-9cb4-f300eab74128                      1
7   2e26a9b1-6354-47b3-852f-7d72e0086f2a                      1
12  39b3f889-bbdd-4d66-93fe-dd75bef27dbf                      1
30  9d786b74-8602-4d8d-ab94-5cd145925899                      1
38  d0ea8187-78e0-406a-91ea-224be6b60ae1                      1
40  d4dcfe5c-b42c-470d-9889-ff0f10a4feb8                      1
5   1f51238c-5131-4a84-9739-8b632243eb70                      1
3   1161adca-2a97-45c5-9931-ac394780addc                      1
2   0f9bfef2-4abd-408b-b42c-e7a889bd9332                      1
8   342e321a-695c-4dda-a48d-c85ec0dde726                      1
28  9a0df342-ee88-425a-ba76-5985331d134c                      1
29  9a418ec0-c2be-48c9-8f4c-3d9cf4d96125                      1
13  3fcb53a9-f8db-4507-904b-28176bd5d0c7                      1
27  98187ca4-eca0-4e96-a76c-457290bd3bfa                      1
26  8c207efd-5c55-4924-a080-31edc4d69efa                      1
25  88ad610e-2162-46e8-b2be-4bd4f9e753bb                      1
24  84382c07-626d-4220-bdd7-79e0d88aa850                      1
23  819e148e-01d0-43bc-8681-e4770a50a5aa                      1
21  7827201f-f7d4-4239-8206-f999ace6c11a                      1
19  65f8102d-4223-4c6f-9bf8-81421b721007                      1
18  61458f1b-3782-45db-89c3-fa30d80b4b0c                      1
17  5526914b-64ea-4ad5-97e5-19fcc150ffb8                      1
11  389f6702-d766-4e7f-bc0c-bfa8fad11de0                      1
15  439ca012-5f20-4db5-a9be-f2abcf7b7e00                      1
14  4366241f-0cac-4978-a4a3-27f38abc174a                      1
44  fb7a25e6-f470-4584-92e0-7ebaaeb04b0c                      1

In [15]:
for i in range(5):
    print(likely_fraudsters['USER ID'].iloc[i])

f590dcd7-b3b7-493b-9a1f-210fc319485d
50552988-e421-4a57-ba08-2f7f9dc6cae4
ca027a38-c6eb-4f66-8649-000948986833
01a29ba5-4c7d-4da7-aa56-59138d4a0859
79638a4e-e6df-43ae-8d82-14832364544b

In [16]:
likely_fraudsters.to_csv(r'C:\Users\Ashish\Desktop\likely_fraudsters.csv')